*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "poppins","sans-serif";
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
}
.div1{
    text-align: center;
    padding: 15%;
}
.p1{
    font-size: 50px;
    font-weight: bold;
}